<a href="https://colab.research.google.com/github/con321dude/Side-Projects/blob/master/DataWranglingPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#df = pd.read_csv('data.csv')

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
import pandas as pd
import numpy as np

# Use numpy's random number generator for reproducibility
rng = np.random.default_rng(seed=40)

# Generate 50 sample IDs
sample_ids = [f'S{i+1}' for i in range(50)]

# Generate random locations from a list
locations = rng.choice(['Loc1', 'Loc2', 'Loc3', 'Loc4', 'Loc5'], size=50)

# Generate random percentages for each element, with some missing values
iron = rng.normal(loc=15, scale=2, size=50)
iron[rng.choice(50, size=5, replace=False)] = np.nan  # Set 5 random values to NaN

copper = rng.normal(loc=0.6, scale=0.1, size=50)
copper[rng.choice(50, size=5, replace=False)] = np.nan

nickel = rng.normal(loc=1.2, scale=0.2, size=50)
nickel[rng.choice(50, size=5, replace=False)] = np.nan

zinc = rng.normal(loc=3.3, scale=0.5, size=50)
zinc[rng.choice(50, size=5, replace=False)] = np.nan

lead = rng.normal(loc=0.12, scale=0.02, size=50)
lead[rng.choice(50, size=5, replace=False)] = np.nan

manganese = rng.normal(loc=1.6, scale=0.3, size=50)
manganese[rng.choice(50, size=5, replace=False)] = np.nan

# Create the dataframes
df1_original = pd.DataFrame({
    'Sample_ID': sample_ids,
    'Location': locations,
    'Iron (%)': iron,
    'Copper (%)': copper,
    'Nickel (%)': nickel,
})

df2_original = pd.DataFrame({
    'Sample_ID': sample_ids,
    'Zinc (%)': zinc,
    'Lead (%)': lead,
    'Manganese (%)': manganese,
})

Write a function to deal with missing (NaN) values in both dataframes. You could fill these missing values with the mean of the respective column, or you might choose to remove the rows with missing values.

In [ ]:
#Fill na values with the mean of that column

df1 = df1_original.fillna(df1_original.mean())

df2 = df2_original.fillna(df2_original.mean())

<ipython-input-3-1791385228e6>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1 = df1_original.fillna(df1_original.mean())
<ipython-input-3-1791385228e6>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2 = df2_original.fillna(df2_original.mean())

In [ ]:
print(df1_original.isna().sum())

Sample_ID     0
Location      0
Iron (%)      5
Copper (%)    5
Nickel (%)    5
dtype: int64

In [ ]:
print(df2_original.isna().sum())

Sample_ID        0
Zinc (%)         5
Lead (%)         5
Manganese (%)    5
dtype: int64

In [ ]:
#Remove all rows with nan values:

df1 = df1_original.dropna()
df2 = df2_original.dropna()

In [ ]:
print(df1.head())

  Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)
0        S1     Loc3  13.979613    0.656199    1.477737
3        S4     Loc4  18.043850    0.686388    0.976328
4        S5     Loc3  14.621640    0.583458    1.241729
5        S6     Loc5  13.806714    0.788045    1.024465
6        S7     Loc1  15.483000    0.504096    1.398275

Write a function to merge these two dataframes based on the 'Sample_ID' column. This is analogous to joining two tables in SQL based on a common column.

In [ ]:
new_df = pd.merge(df1, df2, on='Sample_ID', how='inner')
print(new_df.head())

  Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)  Zinc (%)  Lead (%)  \
0        S1     Loc3  13.979613    0.656199    1.477737  2.876792  0.091091
1        S6     Loc5  13.806714    0.788045    1.024465  4.165554  0.093169
2        S8     Loc1  16.444510    0.586295    1.111599  3.426380  0.109015
3        S9     Loc3  12.743632    0.729768    1.137462  3.680969  0.139411
4       S11     Loc1  14.458730    0.649047    1.075558  2.873618  0.096085

   Manganese (%)
0       1.609481
1       1.665416
2       1.679346
3       1.492307
4       1.557741

Assume that there's a 'totals' field in each dataframe, representing the total percentage of all metals in a sample. Write a function to validate these 'totals' fields. If they're incorrect, generate correct 'totals' fields.

Generate incorrect dummy Totals:

In [ ]:
new_df['totals'] = np.random.randint(50, 100, size=len(new_df))

In [ ]:
correct_totals = new_df[['Iron (%)', 'Copper (%)', 'Nickel (%)', 'Zinc (%)', 'Lead (%)', 'Manganese (%)']].sum(axis=1)
incorrect_totals = new_df['totals'] != correct_totals

In [ ]:
new_df["totals"] = correct_totals
print(new_df.head())

  Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)  Zinc (%)  Lead (%)  \
0        S1     Loc3  13.979613    0.656199    1.477737  2.876792  0.091091
1        S6     Loc5  13.806714    0.788045    1.024465  4.165554  0.093169
2        S8     Loc1  16.444510    0.586295    1.111599  3.426380  0.109015
3        S9     Loc3  12.743632    0.729768    1.137462  3.680969  0.139411
4       S11     Loc1  14.458730    0.649047    1.075558  2.873618  0.096085

   Manganese (%)     totals
0       1.609481  20.690912
1       1.665416  21.543362
2       1.679346  23.357145
3       1.492307  19.923550
4       1.557741  20.710779

Now, imagine you discover that the 'totals' field is off by a constant factor in one of the dataframes (say, all totals in df1 are 1.1 times what they should be). Write a function to correct this.

In [ ]:
new_df['totals'] = new_df['totals'] / 1.1 #change all values in the totals column by a factor of 1.1 to adjust
print(new_df.head())

  Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)  Zinc (%)  Lead (%)  \
0        S1     Loc3  13.979613    0.656199    1.477737  2.876792  0.091091
1        S6     Loc5  13.806714    0.788045    1.024465  4.165554  0.093169
2        S8     Loc1  16.444510    0.586295    1.111599  3.426380  0.109015
3        S9     Loc3  12.743632    0.729768    1.137462  3.680969  0.139411
4       S11     Loc1  14.458730    0.649047    1.075558  2.873618  0.096085

   Manganese (%)     totals
0       1.609481  18.809920
1       1.665416  19.584874
2       1.679346  21.233768
3       1.492307  18.112319
4       1.557741  18.827981

Lastly, write a function to filter the samples based on their geochemical composition. For example, you might want to find all samples with above-average copper content.

In [ ]:
avg_copper = new_df["Copper (%)"].mean()

good_copper = new_df[new_df["Copper (%)"] > avg_copper]
print(avg_copper)
print(good_copper)

0.6428000683012032
   Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)  Zinc (%)  Lead (%)  \
0         S1     Loc3  13.979613    0.656199    1.477737  2.876792  0.091091
1         S6     Loc5  13.806714    0.788045    1.024465  4.165554  0.093169
3         S9     Loc3  12.743632    0.729768    1.137462  3.680969  0.139411
4        S11     Loc1  14.458730    0.649047    1.075558  2.873618  0.096085
6        S15     Loc1  15.657167    0.653410    1.021484  3.653376  0.110419
10       S20     Loc4  16.381145    0.702656    0.993825  3.991522  0.074090
13       S25     Loc2  16.637102    0.793639    0.885401  3.162236  0.082686
15       S28     Loc1  15.170689    0.682830    1.242954  3.201016  0.142208
17       S33     Loc4  16.807258    0.666513    1.195370  3.918791  0.116463
21       S43     Loc3  16.730327    0.817669    1.297245  3.409289  0.125250
22       S45     Loc3  15.331768    0.737098    1.314433  2.225843  0.098195
23       S47     Loc3  15.566207    0.753454    1.441126  3.591486  0.115528
24       S48     Loc3  11.491305    0.720342    1.083892  4.130329  0.088791
26       S50     Loc2  11.579686    0.766923    0.748791  4.242912  0.123934

    Manganese (%)     totals
0        1.609481  18.809920
1        1.665416  19.584874
3        1.492307  18.112319
4        1.557741  18.827981
6        1.513842  20.554271
10       1.284691  21.298117
13       1.173624  20.667898
15       1.402050  19.856134
17       1.341437  21.859848
21       1.167224  21.406367
22       1.710116  19.470412
23       1.824236  21.174579
24       1.120420  16.940980
26       1.438665  17.182646

Sort by copper in the top 10th percentile of all samples:

In [ ]:
copper_threshold = new_df['Copper (%)'].quantile(0.9)
high_copper = new_df[new_df['Copper (%)'] >= copper_threshold]
print(copper_threshold)
print(high_copper)

0.7753714478963861
   Sample_ID Location   Iron (%)  Copper (%)  Nickel (%)  Zinc (%)  Lead (%)  \
1         S6     Loc5  13.806714    0.788045    1.024465  4.165554  0.093169
13       S25     Loc2  16.637102    0.793639    0.885401  3.162236  0.082686
21       S43     Loc3  16.730327    0.817669    1.297245  3.409289  0.125250

    Manganese (%)     totals
1        1.665416  19.584874
13       1.173624  20.667898
21       1.167224  21.406367