<a href="https://colab.research.google.com/github/con321dude/Minor-Side-Projects/blob/master/PandasFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Python and pandas**

Create a 10x10 numpy array filled with zeros

In [ ]:
import numpy as np
arr = np.zeros((10,10))

Create a pandas DataFrame from a dictionary with columns 'Name', 'Age', and 'Occupation'.

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Occupation': ['Engineer', 'Doctor', 'Teacher']}
df = pd.DataFrame(data)

Write a function to find and return the mean age in the dataframe.

In [ ]:
theMean = df['Age'].mean()

print(theMean)

30.0

Write a function to filter the dataframe by a given occupation.

In [ ]:
engineers = df[df['Occupation'] == "Engineer"]
print(engineers)

    Name  Age Occupation
0  Alice   25   Engineer

**Data Cleaning**

Given a DataFrame with some missing (NaN) values, write a function to fill these missing values with the mean of the respective column.

In [ ]:
df = df.fillna(df.mean())

<ipython-input-8-04e87d67d337>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())

Write a function to remove duplicate entries in the DataFrame based on the 'Name' column.

In [ ]:
df = df.drop_duplicates(subset='Name')

**Data Joining**

Assume that you have two DataFrames: df1 and df2. Both have a common column 'ID'. Write a function to perform an inner join of these two dataframes based on the 'ID' column.

In [ ]:
data1 = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45]
}

data2 = {
    'ID': [3, 4, 5, 6, 7],
    'Occupation': ['Engineer', 'Doctor', 'Lawyer', 'Scientist', 'Artist'],
    'Salary': [100000, 120000, 140000, 160000, 180000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
new_df = pd.merge(df1, df2, on='ID', how='inner')
print(new_df)

   ID     Name  Age Occupation  Salary
0   3  Charlie   35   Engineer  100000
1   4    David   40     Doctor  120000
2   5      Eve   45     Lawyer  140000

**Data Validation**

Suppose you have a DataFrame with a column called 'totals'. This column is supposed to be the sum of the values in other columns for each row. Write a function to check if the 'totals' column is correct, and if not, correct it.

In [ ]:
data = {
    'Item_A': [2, 3, 1, 4],
    'Item_B': [5, 2, 3, 1],
    'Item_C': [1, 3, 2, 1],
    'totals': [8, 15, 6, 5]  # The 'totals' column
}

df = pd.DataFrame(data)

In [ ]:
df['totals'] = df.drop('totals', axis=1).sum(axis=1)
print(df["totals"])

0    8
1    8
2    6
3    6
Name: totals, dtype: int64

**Working with Unstructured Data**

Given a text string (a paragraph or a page from a book), write a function to count the frequency of each word in the string. Consider using Python's collections.Counter for this.

In [ ]:
from collections import Counter
import re #regex

def count_words(text):
    words = re.findall(r'\b\w+\b', text.lower())
    return Counter(words)


"""
re.findall(): This is a function from Python's re (regular expressions) module. It finds all occurrences of a pattern in a string. In this case, the pattern is r'\b\w+\b' and the string is text.lower().

r'\b\w+\b': This is the pattern we're looking for. In regular expressions:

\b is a word boundary. This means that the pattern has to start and end at the beginning or end of a word.

\w matches any word character (equivalent to [a-zA-Z0-9_]).

+ means that the previous character can appear one or more times. So \w+ means one or more word characters.

In summary, \b\w+\b matches whole words.

text.lower(): This converts the text to lowercase before looking for the pattern. This ensures that the counting is case-insensitive (so 'The' and 'the' are counted as the same word).

"""

Ex:

In [ ]:
text = """The quick brown fox jumps over the lazy dog. The quick brown fox is agile, and the lazy dog is not. The quick brown fox tries to teach the lazy dog, but the lazy dog doesn't seem interested. The quick brown fox never gives up on the lazy dog."""

In [ ]:
word_counts = count_words(text)
print(word_counts)

Counter({'the': 9, 'lazy': 5, 'dog': 5, 'quick': 4, 'brown': 4, 'fox': 4, 'is': 2, 'jumps': 1, 'over': 1, 'agile': 1, 'and': 1, 'not': 1, 'tries': 1, 'to': 1, 'teach': 1, 'but': 1, 'doesn': 1, 't': 1, 'seem': 1, 'interested': 1, 'never': 1, 'gives': 1, 'up': 1, 'on': 1})